<%- include ./../layout/header %>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                    <div class="col-md-6 .col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="search" id="search">
                        </div>
                    </div>
                    <div class="col-md-2 .col-xs-12">
                        <div class="form-group">
                            <select type="text" class="form-control" name="search" id="search">
                            </select>
                        </div>
                    </div>  
            
                    <div class="col-md-4 .col-xs-12">
                        <button class="btn btn-success">Buscar</button>
                        <button class="btn btn-success">Opções</button>
                        <a href="/emprestimos/novo">
                            <button class="btn btn-success">Novo</button>
                        </a>
                    </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Aluno</th>
                                    <th>Status</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                            
                                </td>
                            </tbody>
                        </table>
                </div>
                
                </div>
            </div>

         


        </div>
  </div>
</div>
   


<%- include ./../layout/footer%>