<%- include ./../layout/header %>



    <!-- Dialog de Busca de Aluno-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Alunos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form id="empretimoForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Pesquise o aluno">
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-sm btn-success">Buscar</button>
                                </div>
                            </div>

                        </div>
                        <table id="table-alunos" class="table table-hover">

                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal de Busca do livro-->
    <div class="modal fade" id="ModalBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">Alunos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Pesquise o aluno">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm btn-success">Buscar</button>
                            </div>
                        </div>

                    </div>
                    <table id="table-livros" class="table table-hover">

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container">


        <div class="card text-center">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-8">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" type="button" id="button-addon1">Buscar</button>
                            </div>
                            <input name="idAluno" type="text" hidden id="idAluno">
                            <input id="selectAluno" type="text" class="form-control" disabled placeholder="Selecione  aluno" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <span>
                            <b>STATUS:</b> 
                            <label style="color: green">Aberto</label> 
                        </span>

                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="opt-books">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalBook">Novo Livro</button>
                        </div>
                    </div>

                    <div class="col-12">

                        <table id="empritem" class="table">

                        </table>



                    </div>
                    <div class="col-8"></div>
                    <div class="col-4">
                        <button id="saveEmpr" class="btn btn-success">Salvar</button>
                        <button disabled class="btn disable btn-warning">Imprimir</button>
                    </div>


                </div>


            </div>
        </div>



    </div>

    <script src="./../../js/emprestimos.js"></script>



    <%- include ./../layout/footer%>