<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./../../css/not-found.css">
    <title>Pagina não encontrada</title>
</head>
<body>
    

<div class="container" id="pageBody" align="center">
<div class="row"> </div>
<div class="row"> </div>
<div class="row"> </div>
<div class="row">
<div class="col-md-12 .col-xs-12">
 <h1>Sisbook Ocorreu um erro ! Contate o administrador do sistema para verificar</h1>
    <h3>Pagina não encontrada</h3>
    <a href="/">
    <button class="btn btn-lg btn-info">Voltar a Pagina Inicial</button>
    </a>
</div>

</div>
   
</div>
</body>
</html>